p~span{
    color:tan;
}
h1,h2,h3{
    color:salmon;
    font-family: verdana;
}
li{
    list-style-type:square;
}
li li{
    list-style-type:disc;
}
p2{
    inline-size:150px;
    background-color:aquamarine;
    writing-mode:horizontal-tb;
}
p3{
    inline-size:auto;
    background-color:aquamarine;
    writing-mode:horizontal-tb;
}
p4{
    inline-size:70%;
    background-color:aquamarine;
    writing-mode:vertical-lr;
}
p5{
    inline-size:15em;
    background-color:aquamarine;
    writing-mode:vertical-lr;
}
p6{
    block-size:15em;
    background-color:palevioletred;
    writing-mode:horizontal-tb;
}
p7{
    block-size:150px;
    background-color:palevioletred;
    writing-mode:vertical-rl;

}
p8{
    block-size:auto;
    background-color:palevioletred;
    writing-mode:horizontal-tb;
}