.container{
    display:flex;
    
}
.outerbox{
    background-color:antiquewhite;
    min-height:400px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:10px 100px;

}
.d{
    width:180px;
    height:180px;
    background-color: blueviolet;
    border:2px solid white;
}
.d1{
    flex-shrink:0;
   
}
.d2{
 flex-grow:2;
 flex-basis:0;
 
}
.d3{
    flex-grow:1;
    flex-basis:0;
}
.d4{
      flex-shrink:0;
}
p{
    padding:10px;
}
.p1{
    background-color:teal;
    flex:1;
    order:1;
}
.p2{
    
    background-color:pink;
    flex:1;
    order:3;
}
.p3{
    background-color:seagreen;
    flex:2;
    order:2;
}
.s{
    
    background-color:palevioletred;
    min-height:400px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    
   
}
.i{
    width:70px;
    height:150px;
    background-color: tan;
    border:2px solid white;
    

}
.i1{
    flex:0 1 20%;
}
