p:first-child {
    color:red;
}
a:link{
    color:rebeccapurple;
}
a:visited{
    color:pink;
}
a:hover{
    color:olivedrab;
}
a:active{
    color:salmon;
}
a.para:hover{
    font-size:20px;
    color:sienna;
}
p:hover{
    color:orange;
}
p:last-child{
    color:khaki;
}
p i:first-child{
    color: blue;
   }
li:nth-child(2)
{
    border:2px solid green;
}

