p::first-line{
    color:red;
    font-weight:bold;
}
p::first-letter{
    color:teal;
}
p.para::first-letter{
    color:yellow;
}
::marker{
    color:brown;
}
h2::selection{
    color:green;
    background-color:rosybrown;
}
h1::after{
    content:url(https://images.pexels.com/photos/3408744/pexels-photo-3408744.jpeg?auto=compress&cs=tinysrgb&w=300);
}
